.character__img{
  width: 200px;
  max-height: 230px;
}

.characters__section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px;
}

.characters__title{
  text-align: center;
  background-color: yellow;
  padding: 10px;
}

.character__div{
  background-color: aqua;
  text-align: center;
  padding-bottom: 2rem;
  
}